**/.ipynb_checkpoints/*
**/tb_data/*
**/tb_data
**/*.pkl
**/*.gz
**/*.pyc
**/data/*
Lecture1/README.md
Lecture1/mnist_average_darkness.py
Lecture1/mnist_svm.py
Lecture1/network2.py
Lecture1/network3.py
**/*.odp
**/*.ckpt.*
**/checkpoint
